
.bg-white{
    background-color: white;
    border: 2px solid #0f5132;
}

.bg-mu{
   background-color: #e2e2e2;
    /* background-image: url('https://tse1.mm.bing.net/th?id=OIP.2aoYQskCAYbiPreF2kADEgHaEK&pid=Api&P=0&w=278&h=157'); */
}

.bg-yellow{
  background-color: #f7f626;
}